@media (prefers-color-scheme: dark) {
	:root {
		--color-darktheme-bg-default: #333;
		--color-darktheme-text-default: #DDD;
	}
	body {
		background-color: var(--color-darktheme-bg-default);
		color: var(--color-darktheme-text-default);
	}

	header {
		background-color: var(--color-darktheme-bg-default) !important;
	}

	header svg {
		filter:invert(1);
	}
	
	header span[class][role=heading] {
		content: '헤더 > 타이틀:Calendar';
		color: var(--color-darktheme-text-default);
	}
}